/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap'); */


#root {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'californian-fb-regular';
}

@font-face {
  font-family: 'californian-fb-regular';
  src: url('./fonts/californian-fb-regular.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal;
}

h1, h2 {
  font-family: 'californian-fb-regular', sans-serif;
}

input:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: inherit !important;
}

.custom-prev,
.custom-next {
  display: none; /* Hide navigation buttons by default */
}

@media (min-width: 768px) {
  .custom-prev,
  .custom-next {
    display: flex; /* Show navigation buttons on large screens */
  }
}

.custom-prev,
.custom-next {
  color: black;
}

.custom-prev:hover,
.custom-next:hover {
  color: #00B8B8;
}

//* Customize the default bullet color */
.swiper-pagination-bullet {
  background-color: #00B8B8 !important; /* Primary color for the dots */
  opacity: 0.5 !important; /* Slightly transparent */
  width: 12px !important; /* Adjust the size of the dots */
  height: 12px !important;
  margin: 0 5px !important; /* Add spacing between dots */
}

/* Customize the active dot color */
.swiper-pagination-bullet-active {
  background-color: black  !important; /* Different shade for the active dot */
  opacity: 1 !important; /* Fully opaque */
  transform: scale(1.2) !important; /* Slightly larger active dot */
  transition: transform 0.3s ease, background-color 0.3s ease !important; /* Smooth transition */
}


